
.content{
    grid-area: c;
    background: linear-gradient(to right,  #352a2a, #4a3f3f );
    padding-bottom: 100px;
}

.content img{
    width: 100%;
    height: 300px;
}

.item {
    color: #f0e8e8;
}