

.header{
    grid-area: h;
    background: linear-gradient(to right,  #f0e8e8, #eddddd );
    color: #352a2a;
    text-decoration: none;
    font-size: 50px;
    display: flex;
    padding-bottom: 30px;
}

.logo img{

    padding: 0px 10px 20px 10px;
}

.loginBlock {

    float: right;
    margin-left: 60%;
}

svg{
    color: #352a2a;
}