
.header{
    grid-area: h;
    background: linear-gradient(to right,  #f0e8e8, #eddddd );
    color: #352a2a;
    font-size: 50px;
    display: grid;
    grid-template-columns: 8fr 1fr;

}

.logo {
    margin-top: 10px;
    margin-left: 10px;
}

.loginProfile{
    margin-bottom: 100px;
}

.loginProfile img{
    width: 50px;
}