
.content{
    grid-area: c;

    height: 500px;
}

.content img{
    width: 100%;
    height: 300px;
}

.item {
    padding: 20px;
.profileData {
    margin: 50px 0;
    .contact {
        margin-left: 20px;
    }
}
}

.item img {
    height: 200px;
    width: 200px;
}

.formSummaryError {
    border: red solid 3px;
    padding: 5px;
    color: red;
}