.dialogs {
    display: grid;
    grid-template-columns: 1fr 3fr;
    color: #f0e8e8;
}
.dialogItems{
    padding: 20px;
}

.messageItems{
    padding: 20px;
}
.dialog a{
    color: #f0e8e8;
    text-decoration: none;
}

.dialog .active{
    color: #87AAB9;
}