.dialogs {
    display: grid;
    grid-template-columns: 1fr 3fr;
    color: #f0e8e8;
}
.dialogItems{
    padding: 40px;
}

.dialogItems img {
    width: 50px;
}
.messageItems{
    padding: 20px;
}
.dialog a{

    text-decoration: none;
    margin-bottom: 100px;
}
.dialog{
    margin-bottom: 10px;
}

.dialog .active{
    color: #87AAB9;
}

.message{
    padding: 2%;
    margin-bottom: 10px;
    width: 40%;
    background: #074661;
}

.inputMessage{
    margin-top: 20%;
    width: 60%;
    height: 20%;
}